html{
    background-color: rgb(199, 171, 224);
  }
  *{
    margin: 0;
    padding: 0;
  }
  header{
    line-height: 50px;
    background: rgb(60, 43, 134);
    width: 110%;
    height:100px;
    position: fixed;
    z-index: 12;
  }
  nav{
    float: right;
    margin-right: 6.7cm;
    margin-top: 2.7%;
    font-family: Oswald;
    font-size: 15px;
    line-height: 10px;
  }
  nav a{
    text-decoration: none;
    font-family: Oswald;
    letter-spacing: 3px;
    color:white;
  }
  h1{
    text-align: center;
    position:relative; top:120px;
    color: rgba(54, 59, 80, 0.911);
    font-size: 55px;
    font-family: Harry P;
    font-weight: lighter;
  }
