h1{
    text-align: center;
}
p{
    font-kerning: normal;
    font-size: larger;
    font-weight: 200;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}